html {
	scroll-behavior: smooth
}

html,
body {
	height: 100%
}

.wrapper {
	width: 890px;
	/* background-color: #CB8B8C; */
	margin: 0 auto;
}

body {
	font-family: "Rubik", sans-serif;
	/* color: #525252; */
	/* width: 890px;
	background-color: #CB8B8C;
	margin: 0 auto; */
}

a {
	color: #0e0d0d;
	text-decoration: none
}

a:hover {
	color: #2091DD;
	text-decoration: underline;

}

/* hearder*/
.headpd {
	height: 146px
}


.headLogo {
	float: left;
	display: flex;
	width: 206px;
	height: 69px;
	margin-top: 25px;
	margin-left: 38px;
}

.haedPlayer {
	float: left;
	width: 305px;
	height: 48px;
	margin-left: 157px;
	margin-top: 35px;
	background-image: url('images/Player@1x.png');
	background-size: cover;
}
.pause{
	float: left;
	margin-left: 24px;
	margin-top: 14px;
}
.goend{
	float: left;
	margin-left: 178px;
	margin-top: 13px;
}
.headUser {
	float: right;
	display: inline-flex;
	width: 24px;
	height: 24px;
	margin-right: 70px;
	margin-top: 45px;

}

.headSearch {
	float: right;
	display: inline-flex;
	width: 24px;
	height: 24px;
	margin-right: 25px;
	margin-top: 45px;
}

/*nav*/

.header-bottom {
	float: left;
	display: flex;
	width: 890px;
	/* margin-top: 28px;
	margin-left: 141px; */
	border-top: 1px solid #dee2e6
}


.main-nav>ul>li {
	display: inline-block;
	font-size: 14px;
	font-style: blod;
	margin-left: 86px;
}

.mediaMenu {
	display: none;
}

.navLogo {
	display: none;
}

/* banner */
.banner-one {
	height: 295px;
	color: #ffffff;
}

.banner-one>.banner-img {
	/* float: left; */
	position: absolute;
	margin-left: -1px;
}

.banner-one>.banner-content {
	/* float: left; */
	position: absolute;
	margin-left: 494px;
	width: 396px;
	height: 294px;
	/* padding: 30px; */
	background-color: #2091DD;
}

.banner-one>.banner-content>h2 {
	margin-left: 36px;
	margin-top: 51px;
	font-size: 36px;
}

.banner-one>.banner-content>p {
	margin-left: 30px;
	margin-top: 20px;
	font-size: 28px;
}

.banner-two {
	height: 308px;
	color: #ffffff;
	margin-top: -1px;
}

.banner-two>.banner-img {
	/* float: left; */
	position: absolute;
	margin-left: 413px;

}

.banner-two>.banner-content {
	/* float: left; */
	position: absolute;
	margin-left: 0px;
	width: 415px;
	height: 308px;
	/* padding: 30px; */
	background-color: #2091DD;
}

.banner-two>.banner-content>h2 {
	margin-left: 36px;
	margin-top: 51px;
	font-size: 36px;
}

.banner-two>.banner-content>p {
	margin-left: 30px;
	margin-top: 20px;
	font-size: 28px;
}

.banner-three {
	clear: both;
	height: 301px;
	color: #ffffff;
	margin-top: -1px;
}

.banner-three>.banner-img {
	/* float: left; */
	position: absolute;
	margin-left: -1px;
}

.banner-three>.banner-content {
	/* float: left; */
	position: absolute;
	margin-left: 435px;
	width: 454px;
	height: 301px;
	/* padding: 30px; */
	background-color: #2091DD;
}

.banner-three>.banner-content>h2 {
	margin-left: 36px;
	margin-top: 51px;
	font-size: 36px;
}

.banner-three>.banner-content>p {
	margin-left: 30px;
	margin-top: 20px;
	font-size: 28px;
}

/* foot */
.social-link {
	float: right;
	display: flex;
	margin-top: 8px;
	margin-right: 18px
}

.social-link .title {
	font-size: 16px;
	display: block
}

.social-link ul li {
	display: inline-block
}

.social-link ul li:not(:last-child) {
	padding-right: 25px
}

.social-link ul li a {
	font-size: 14px;
	display: block
}

.social-link.with-border ul li:not(:last-child) {
	padding-right: 15px
}

@media (max-width: 1199px) {
	.social-link.with-border ul li:not(:last-child) {
		padding-right: 10px
	}
}



.social-link.with-border ul li a {
	border: 1px solid #abd373;
	color: #abd373;
	border-radius: 100%;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center
}

.social-link.with-border ul li a:hover {
	background-color: #abd373;
	border-color: #abd373
}

.social-link.with-border ul li a:hover i {
	color: #ffffff
}

.list-content {
	position: absolute;
	float: left;
	/* width: 205px; */
	height: 800px;
	overflow-y: scroll;
}

.list-content>ul>li {
	/* position: absolute; */
	width: 200px;
	/* height: 150px; */
	list-style: none;
	border-bottom: 1px solid #130F0F;

}

.list-content>ul>li>h2 {
	font-size: 14px;
	margin-top: 67px;
}

.list-content>ul>li>p {
	font-size: 14px;
	margin-bottom: 20px;
}

.list-content>ul>li>h2:hover {
	color: #2091DD;
	cursor: pointer;

}

.list-content>ul>li>img {
	position: relative;
	float: right;
	top: 16px;
	margin-left: 161px;
	margin-top: -123px;
}

.list-content>ul>li>img:hover {
	color: #2091DD;
	cursor: pointer;

}

.passage {
	/* position: absolute; */
	float: left;
	padding-left: 20px;
	/* clear: both; */
	margin-left: 260px;
	width: 654px;
	height: 800PX;
	overflow-y: scroll;
}

.passage>h2 {
	font-size: 36px;
	text-align: center;
}

.passage>img {
	float: left;
	margin-top: 16px;
	margin-left: 574px;
}

.passage>img:hover {
	cursor: pointer;

}

/*media*/


@media (max-width:390px) {
	.wrapper {
		width: 100%;
	}

	.outerdiv {
		width: 100%;
	}

	.headUser{
display: none;
	}
	.headSearch{
display: none;

	}
	.list-content {
		display: none;
	}

	.passage {
		/* position: absolute; */
		float: left;
		margin-left: 0px;
		padding: 0;
		width: 390px;
	}

	a:hover {
		color: #fffffe;
		text-decoration: underline;

	}

	.headLogo {
		float: left;
		display: block;
		width: 206px;
		height: 69px;
		margin-top: 13px;
		margin-left: 40px;
		margin-right: 86px;
		padding: 0;
		/* clear: both; */

	}

	.navLogo {
		/* position: absolute; */
		float: left;
		display: block;
		margin-top: 35px;
		margin-left: 25px;
	}

	.haedPlayer {
		float: left;
		width: 230px;
		height: 37px;
		margin-left: 37px;
		margin-top: 37px;

	}

	.haedPlayer>img {
		width: 100%;
		height: 100%;
	}

	.mediaMenu {
		position: absolute;
		float: left;
		display: flex;
		width: 39px;
		height: 39px;
		margin-top: 32px;
		margin-left: 19px;

	}

	.header-bottom {
		position: absolute;
		background-color: #6fb4e1;
		width: 100%;
		/* height: 15px; */
		z-index: 100;
		margin-top: -800px;
		transition: all 0.5s ease;
	}

	/* .header-bottom>.container {
		display: none;
	}  */
	.media-bottom {
		margin-top: 88px;
		border-bottom-left-radius: 30%;
	}

	.main-nav>ul>li {
		flex-direction: column;
		width: 100%;
		height: 100%;
		justify-content: center;
		margin: 30px auto;
		font-size: 14px;
		font-style: blod;
		position: relative;
		z-index: 99;
	}

	.banner-img {
		display: none;
	}
	
	.banner-one>.banner-content {
		/* position: relative; */
		/* float: left; */
		/* position: absolute; */
		width: 100%;
		background-image: url('images/banner1.png');
		background-size: cover;

		clear: both;
		margin-left: -6px;
		margin-top: 16px;
	}

	.banner-two>.banner-content {
		/* position: relative; */
		/* float: left; */
		/* position: absolute; */
		background-image: url('images/banner2.png');
		background-size: cover;
		/* clear: both; */
		margin-left: -6px;
		margin-top: 16px;
		width: 390px;
		color: floralwhite;
	}

	.banner-three>.banner-content {
		/* position: relative;
		float: left;
		position: absolute; */
		margin-left: -6px;
		margin-top: 16px;
		background-image: url('images/banner3.png');
		background-size: cover;
		width:390px;
		clear: both;
	}

	.banner-content {
		color: #2091DD;
	}

	h2 {
		font-size: 32px;
	}

	p {
		font-size: 18;
	}
}